@import "tailwindcss";
*{
  
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;

}


@layer utilities {
  .grid-bg {
    background-image: radial-gradient(#444 1px, transparent 1px);
    background-size: 20px 20px;
  }
}
